@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");


* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
  }
body {
  background-image: url(../assets/images/landing-page/home-img.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
label {
    color: rgb(252, 249, 249);
    margin: 5px 30px;

  }
  

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255,0.1); */
    background-color: transparent;
}

.container form div  input{
    background-color: #d3ad7f;
    padding: 10px;
    margin: 5px 30px;

}
.container form div select{
    background-color: #d3ad7f;
    
    padding: 10px;
    margin: 5px 30px;


}
.btn-content{
    display: flex;
    justify-content:space-around;
}
.btn-content button{
    margin: 20px;
    color: white;
    background-color: #a57944;
    padding: 10px 40px;
    border: none;
    transition: all 1s;
}
.btn-content button:hover{
    margin: 20px;
    color: rgb(14, 13, 13);
    background-color: #5e3a0f;
    padding: 10px 40px;
    border: none;
}
